<a class="ui violet small icon button" href="/tasks/<%= task._id %>">
                                 
                                 <i class="edit icon"></i>
                             </a>
                             <a class="ui red small icon button" href="/tasks/<%= task._id %>">
                                 <i class="delete icon"></i>
                             </a>
                             <a class="ui green small right float icon button" href="/tasks/<%= task._id %>">
                                 <i class="check icon"></i>
                             </a>


href="/tasks/<%= task._id %>"